---
layout: layout.liquid
title: Backpack
---

{% parameter '"Backpack"' %}

<img alt="Backpack" src="/images/Backpack.png" width="300" />

<p>Next we have my backpack, the second thing I can't leave without.</p>
<p>Inside the pack are all the things I generally need for class so when I exit the house, it has to be with me.</p>