---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Three Things I CAN'T Leave Home Without</h1>
<img alt="pine" src="/images/pine.png" width="50" />
<img alt="Backpack' src="images/Backpack.png" width="150" />