---
layout: layout.liquid
title: Homesite
---

<h1>Three Things I </h1>
<h1><strong>*CAN'T*</h1></strong>
<h1> Leave Home Without</h1>
<a href= "/Keys/"><img alt="Keys" src="/images/Keys.png" width="300" />
<a href= "/Backpack/"><img alt="Backpack" src="/images/Backpack.png" width="300" />
<a href= "/Wallet/"><img alt="Wallet" src="/images/Wallet.png" width="300" />