---
layout: layout.liquid
title: Keys
---

{% parameter '"Keys"' %}

<img alt="Keys" src="/images/Keys.png" width="300"/>

<p>Presented here are the Keys to my apartment, the first item I can't leave home without.</p>
<p>On the key ring are the keys for both the door to my room, as well as the fob for the apartment door. Considering I need them in order to lock up, it's no wonder I can't leave without them.</p>