---
layout: layout.liquid
title: Wallet
---

{% parameter '"Wallet"' %}

<img alt="Wallet" src="/images/Wallet.png" width="300" />
<p> "Presented here is my wallet, the third thing I can't leave home without." </p>
<p> "As this contains everything from my cards to my own ID, it becomes rather clear why I can't leave without it."</p>
