body {
    font-family: Courier, serif;
    color: #669BBC;
    background: #FDF0D5;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 200px;
    border-radius: 75px;
    background: #780000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 2;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 1;
}

nav ul li a {
    padding: 20px;
    color: #FDF0D5;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    color: #C1121F;
}

img.about {
    opacity: 0.5;
}
p {
    font-size: 2.5em;
    color: #003049;
}
img {
    border: 2em #780000;
}